/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  height:100%;
  background: #f00;
}

#logo{
  height:85px;
  width: 100%;
  background-color: black;
}

#search{
  height:85px;
  width: 100%;
  background-color: blue;
}

#search-input{
    width: 75%;
    height:40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 55px;
    outline: none;
    text-align: center;


  }

#search-buttons{

  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 200px;
  margin-top: 10px;

}
#download-text{
  margin-left: 12px;
  padding-top: 2px;
  color: #ffffff;

}
#text-logo{
  text-align: center;
  font-size: 50px;
  padding-top: 5px;
}

input:focus{
  outline: none;
}

#search-bar{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:500px;
  height:250px;
  background-color: #ffffff;
}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
